:root {
  --vp-c-brand: hsl(24, 94.0%, 50.0%);
  --vp-c-brand-light: hsl(24, 94.5%, 64.3%);
  --vp-c-brand-lighter: hsl(24, 100%, 75.3%);
  --vp-c-brand-dark: hsl(24, 94.0%, 50.0%);
  --vp-c-brand-darker: hsl(25, 100%, 29.0%);
}
